.dls-title {font-weight: bold;}
.dls-start-button {width: 450px; height: 100px; font-size: 60px;}
.dls-axpic {width: 90%; height: 90%;}
.dls-pic-col {padding-bottom: 15px}
.dls-questions {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px;}
.dls-prev-button {position:fixed; bottom:10px; left:10px;}
.dls-next-button {position:fixed; bottom:10px; right:10px;}
body {
    background-image:url('backgroundpic.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}